@import '../scss/bootstrap/bootstrap';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  &:hover {
    text-decoration: none;
  }
}

@font-face {
  font-family: "Proxima";
  src: url('../fonts/ProximaNova_Regular.otf');
}

body {
  font-family: 'Proxima';
  font-size: 18px;
  color: #bbbbbb;
}

.container {
  width: 1170px;
}

.header {
  position: relative;
  color: #fff;

  &__bg {
    height: 1200px;
    background: url(../images/header-bg.png) no-repeat;
    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(#2d2a50, 0.9);
    }

    &::after {
      content: '';
      background-color: #372c4c;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -1px;
      transform: skewY(-1.5deg);
      transform-origin: 100%;
      z-index: -1;
    }
  }

  &__slogan {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;

    &--1 {
      font-size: 20px;
    }

    &--2 {
      font-size: 35px;
      font-weight: bold;
    }
  }
}

.nav-container {
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  &.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background: #fff;
    transition: all 500ms cubic-bezier(0.55, 0, 0.1, 1);

    .nav {
      margin-top: 15px;

      .logo {
        display: none;
      }

      .fix {
        display: block;
      }

      &__link {
        color: #bbbbbb;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.nav {
  display: flex;
  width: 1500px;

  justify-content: space-between;
  margin: 77px auto 0;
  align-items: center;

  &__brand {
    .logo {
      display: block;
    }

    .fix {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    padding: 14px 28px;
    display: block;
    color: #fff;

    &:hover {
      background: #00a8ff;
      color: #fff;
    }
  }
}

.box {
  position: relative;

  .list {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -215px;
  }

  &__item {
    width: 370px;
    height: 286px;
    margin: 0 15px;
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      bottom: 0;
      left: 0;
      top: 0;
    }


    &.schedule {
      margin-left: 0;
      background-image: url(../images/header-item-bg.png);

      &::before {
        background-color: rgba(#f44336, 0.8);
      }
    }

    &.membership {
      transition: all 0.3s ease;

      .img {
        background: url(../images/header-item-bg.png) no-repeat;
        height: 100%;

        &::before {
          background: rgba(#4caf50, 0.8);
        }
      }

      &:hover img {
        transition: all 0.3s ease-in-out;
        transform: translateX(-20px);
      }

      &::before {
        background: rgba(#4caf50, 0.8);
      }
    }

    &.clients {
      margin-right: 0;
      background-image: url(../images/header-item-bg.png);

      &::before {
        background: rgba(#07a9ee, 0.8);
      }
    }
  }

  &__title {
    position: absolute;
    top: 0;
    margin: 35px;
    font-weight: 600;
  }

  .slider {
    position: absolute;
    top: 114px;

    &__content {
      padding: 15px 40px;
      display: flex;
      justify-content: space-between;
      position: relative;
      border-bottom: 1px solid #ff5f53;

      &:last-child {
        border: none;
      }

      &:nth-child(3n+1) {
        &::before {
          content: '';
          background: url(../images/icon/jump.png) no-repeat;
          width: 16px;
          height: 26px;
          display: block;
          position: absolute;
          top: 18px;
        }
      }

      &:nth-child(3n+2) {
        &::before {
          content: '';
          background: url(../images/icon/gym.png) no-repeat;
          width: 20px;
          height: 20px;
          display: block;
          position: absolute;
          top: 18px;

        }
      }

      &:nth-child(3n+3) {
        &::before {
          content: '';
          background: url(../images/icon/heart.png) no-repeat;
          width: 23px;
          height: 20px;
          display: block;
          position: absolute;
          top: 18px;

        }
      }

      span {
        &:first-child {
          padding-left: 35px;

        }

        &:last-child {
          font-weight: 600;
        }
      }
    }

    .owl-dots {
      position: absolute;
      right: 30px;
      top: -85px;

      .owl-dot {
        outline: none;

        &.active,
        &:hover {
          span {
            background: #fff;
          }
        }

        span {
          background: none;
          border-radius: 0;
        }

      }

      span {
        width: 8px;
        height: 8px;
        border: 2px solid #fff;
        margin: 5px 3px;

      }


    }
  }

  .membership {
    &:hover {
      &::before {
        background: rgba(#b0bab1, 0.8);
        z-index: 9;
      }

      .box__title {
        opacity: 0;
      }

      .content {
        transform: translateY(-150%);
      }

      .membership__link {
        width: auto;
        height: auto;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
      }
    }

    .box__title {
      transition: all 0.3s ease-in-out;
      opacity: 1;
    }

    .content {
      position: absolute;
      bottom: 0;
      margin: 35px;
      z-index: 9;
      transform: translateY(0%);
      transition: .3s ease-in-out;

      span {
        display: block;
        font-size: 24px;

        &:last-child {
          font-size: 36px;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }

    &__link {
      padding: 15px 30px;
      border: 2px solid #fff;
      position: absolute;
      bottom: 0;
      margin: 35px;
      color: #fff;
      font-weight: 600;
      transform: scale(0);
      z-index: 10;

      &:hover {
        background: #fff;
        color: #07a9ee;
      }
    }
  }

  .clients {
    .item {
      padding: 0 40px 40px 40px;

      p {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 40px;
      }
    }
  }
}

.section {
  padding: 150px 0 160px 0;

  &__header {
    text-align: center;
    margin-bottom: 160px;
  }

  &__title {
    font-size: 48px;
    color: #333333;
    font-weight: 600;
  }

  &__desc {
    font-size: 24px;
  }

  .row {
    .col-md-4 {
      flex: 0 0 31.33333%;
      padding: 0;

      &:nth-child(3n+2) {
        margin: 0 30px;
      }
    }
  }
}

.services {
  padding: 240px 0;

  &__item {
    height: 320px;
    padding: 90px 50px;
    text-align: center;
    border: 1px solid #dddddd;

    &:hover {
      padding: 40px 50px 65px 50px;

      .services__img-container {
        transform: translateY(-65px);
      }

      .services__title {
        transform: translateY(-55px);
        animation: bounceIn 0.75s;
      }

      .services__desc {
        width: auto;
        height: auto;
        // transition: all 0.3s ease-in-out;
        transform: scale(1);
        margin-top: -20px;
        animation: bounceIn 0.75s;
        // display: block;
      }
    }
  }

  &__img-container {
    background: #fff;
    display: inline-block;
    transform: translateY(0%);
    transition: .3s ease-in-out;
  }

  &__title {
    color: #333333;
    font-weight: 600;
    padding-top: 50px;
    transform: translateY(0%);
    transition: .3s ease-in-out;
  }

  &__desc {
    transform: scale(0);
    // display: none;
  }
}

@keyframes bounceIn {

  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
    // -webkit-transform: scale3d(0.3, 0.3, 0.3);
    // transform: scale3d(0.3, 0.3, 0.3);
  }


}

.team {
  background: #f7f7f7;

  &__item {
    text-align: center;

    &:hover {
      .team__hover {
        opacity: 1;
      }

      .team__bg-img {}

    }
  }

  &__header {
    position: relative;
  }

  &__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background: rgba(#00a8ff, 0.9);

    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      span {
        display: block;
        
        &:first-child {
          font-size: 32px;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }

  &__bg-img {
    width: 100%;
  }

  &__ava {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 50%);

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__content {
    padding: 110px 90px 60px 90px;
    background: #fff;
  }

  &__name {
    font-size: 24px;
    color: #333333;
    font-weight: 600;
  }

  &__desc {
    margin-bottom: 50px;
  }

  &__link {
    padding: 13px 31px;
    color: #00a8ff;
    border: 1px solid #00a8ff;
    display: inline-block;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #00a8ff;
      color: #fff;
    }
  }
}