@import '../scss/bootstrap/bootstrap';
@import '../scss/variables';
@import '../scss/mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin-bottom: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

.row {
  margin: 0;
}

@font-face {
  font-family: $font-family;
  src: url('../fonts/ProximaNova_Regular.otf');
}

body {
  font-family: $font-family;
  font-size: 18px;
  color: $main-color;
}

.container {
  width: 1170px;
  padding: 0;

  @media (min-width: 1200px) {
    max-width: 1170px;
  }

  @media only screen and (max-width: $max-mobile) {
    width: 100%;
  }
}

.header {
  position: relative;
  color: $white;

  &__bg {
    height: 1080px;
    background: url(../images/header-bg.png) no-repeat;
    background-size: cover;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(#2d2a50, 0.9);
    }

    &::after {
      background: #372c4c;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      bottom: 0;
      transform: skewY(-2.5deg);
      transform-origin: 100%;
    }
  }

  &__slogan {
    z-index: 100;
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white;

    &--1 {
      font-size: 33px;
    }

    &--2 {
      font-size: 60px;
      font-weight: bold;
    }
  }
}

.nav-container {
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  &.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background: $white;
    transition: all 500ms ease-in-out;
    box-shadow: 0 4px 2px -2px #e6e6e6;

    .nav {
      margin: 15px auto;

      .logo {
        display: none;
      }

      .fix {
        display: block;
      }

      &__item {
        &.sign-up:hover {
          .nav__link {
            background: #47c2ff;
            color: $white;
          }

        }

        &.active .nav__link {
          color: $blue;
        }
      }

      &__link {
        color: $main-color;

        &:hover {
          color: $blue;
        }

      }
    }
  }
}

.nav {
  display: flex;
  width: 1500px;
  justify-content: space-between;
  margin: 77px auto 0;
  align-items: center;

  @media (min-width: $min-mobile) and (max-width: $max-mobile) {
    width: 100%;
    height: 100%;
  }

  &__brand {
    .logo {
      display: block;
    }

    .fix {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media (min-width: $min-mobile) and (max-width: $max-mobile) {
      display: none;
    }
  }

  &__item {
    &.current .nav__link {
      color: $blue;
    }

    &.sign-up {
      .nav__link {
        background: $blue;
        color: $white;
      }
    }
  }

  &__link {
    padding: 14px 28px;
    display: block;
    color: $white;
    @include transition-ease($base-transition);

    &:hover {
      // background: $blue;
      color: $blue;
    }

  }
}

.box {
  // position: absolute;
  // left: 50%;
  // transform: translate(-50%);
  // bottom: -90px;
  position: relative;
  top: -100px;
  // transform: translateY(-50%);

  .list {
    display: flex;
    justify-content: space-between;
    // position: absolute;
    // top: -90px;

    @media (min-width: $min-mobile) and (max-width: $max-mobile) {
      display: block;
    }
  }

  &__item {
    width: 370px;
    height: 286px;
    margin: 0 15px;
    position: relative;
    overflow: hidden;

    @media (min-width: $min-mobile) and (max-width: $max-mobile) {
      width: 100%;
    }

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      bottom: 0;
      left: 0;
      top: 0;
    }


    &.schedule {
      margin-left: 0;
      background-image: url(../images/header-item-bg.png);

      &::before {
        background-color: rgba(#f44336, 0.8);
      }
    }

    &.membership {
      @include transition-ease($base-transition);

      .img {
        background: url(../images/header-item-bg.png) no-repeat;
        height: 100%;


        &::before {
          background: rgba(#4caf50, 0.8);
        }
      }

      &:hover .img {
        @include transition-ease($base-transition);
        background-position: 50% 0;
      }

      &::before {
        background: rgba(#4caf50, 0.8);
      }
    }

    &.clients {
      margin-right: 0;
      background-image: url(../images/header-item-bg.png);

      &::before {
        background: rgba(#07a9ee, 0.8);
      }
    }
  }

  &__title {
    position: absolute;
    top: 0;
    margin: 35px;
    font-weight: 600;
  }

  .slider {
    position: absolute;
    top: 114px;

    &__content {
      padding: 15px 40px;
      display: flex;
      justify-content: space-between;
      position: relative;
      border-bottom: 1px solid #ff5f53;

      &:last-child {
        border: none;
      }

      &:nth-child(3n+1) {
        &::before {
          content: '';
          background: url(../images/icon/jump.png) no-repeat;
          width: 16px;
          height: 26px;
          display: block;
          position: absolute;
          top: 18px;
        }
      }

      &:nth-child(3n+2) {
        &::before {
          content: '';
          background: url(../images/icon/gym.png) no-repeat;
          width: 20px;
          height: 20px;
          display: block;
          position: absolute;
          top: 18px;

        }
      }

      &:nth-child(3n+3) {
        &::before {
          content: '';
          background: url(../images/icon/heart.png) no-repeat;
          width: 23px;
          height: 20px;
          display: block;
          position: absolute;
          top: 18px;

        }
      }

      span {
        &:first-child {
          padding-left: 35px;

        }

        &:last-child {
          font-weight: 600;
        }
      }
    }

    .owl-dots {
      position: absolute;
      right: 30px;
      top: -85px;

      .owl-dot {
        outline: none;

        &.active,
        &:hover {
          span {
            background: $white;
          }
        }

        span {
          background: none;
          border-radius: 0;
        }
      }

      span {
        width: 8px;
        height: 8px;
        border: 2px solid $white;
        margin: 5px 3px;
      }
    }
  }

  .membership {
    &:hover {
      &::before {
        background: rgba(#b0bab1, 0.8);
        z-index: 9;
      }

      .box__title {
        opacity: 0;
      }

      .content {
        transform: translateY(-150%);
      }

      .membership__link {
        width: auto;
        height: auto;
        @include transition-ease($base-transition);
        transform: scale(1);
      }
    }

    .box__title {
      @include transition-ease($base-transition);
      opacity: 1;
    }

    .content {
      position: absolute;
      bottom: 0;
      margin: 35px;
      z-index: 9;
      transform: translateY(0%);
      transition: .3s ease-in-out;

      span {
        display: block;
        font-size: 24px;

        &:last-child {
          font-size: 36px;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }

    &__link {
      padding: 15px 30px;
      border: 2px solid $white;
      position: absolute;
      bottom: 0;
      margin: 35px;
      color: $white;
      font-weight: 600;
      transform: scale(0);
      z-index: 10;

      &:hover {
        background: $white;
        color: #07a9ee;
      }
    }
  }

  .clients {
    .item {
      padding: 0 40px 40px 40px;

      p {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 40px;
      }
    }
  }
}

.section {
  padding: 150px 0 160px 0;

  &__header {
    text-align: center;
    margin-bottom: 160px;
  }

  &__title {
    font-size: 48px;
    color: $dark-grey;
    font-weight: 600;
  }

  &__desc {
    font-size: 24px;
  }

  .row {

    .col-md-4 {
      flex: 0 0 31.33333%;
      padding: 0;
    }
  }
}

.services {
  padding: 130px 0 330px 0;

  .col-md-4.services__item {
    height: 320px;
    padding: 90px 50px;
    text-align: center;
    border: 1px solid #dddddd;

    &:hover {
      padding: 40px 50px 65px 50px;
      border: 1px solid $blue;

      .services__img-container {
        transform: translateY(-65px);
      }

      .services__title {
        transform: translateY(-55px);
        animation: bounceIn 0.75s;
      }

      .services__desc {
        width: auto;
        height: auto;
        transform: scale(1);
        margin-top: -20px;
        animation: bounceIn 0.75s;
      }
    }
  }

  &__img-container {
    background: $white;
    display: inline-block;
    transform: translateY(0%);
    transition: .3s ease-in-out;

    img {
      margin: 0 5px;

    }
  }

  &__title {
    color: $dark-grey;
    font-weight: 600;
    margin: 50px 0 0 0;
    transform: translateY(0%);
    transition: .3s ease-in-out;
  }

  &__desc {
    transform: scale(0);
    // display: none;
  }
}

@keyframes bounceIn {

  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
    // -webkit-transform: scale3d(0.3, 0.3, 0.3);
    // transform: scale3d(0.3, 0.3, 0.3);
  }
}

.team {
  background: #f7f7f7;
  position: relative;

  &::after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
    transform: skewY(-2.5deg);
    transform-origin: 0 0;
  }

  &__item {
    text-align: center;
    box-shadow: 0 5px 15px -2px #cacaca;

    &:hover {
      .team__hover {
        opacity: 1;
      }
    }
  }

  &__header {
    position: relative;
  }

  &__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background: rgba($blue, 0.9);

    &__detail {
      color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      span {
        display: block;

        &:first-child {
          font-size: 32px;
          font-weight: 600;
        }
      }
    }
  }

  &__bg-img {
    width: 100%;
  }

  &__ava {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 50%);

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__content {
    padding: 110px 90px 60px 90px;
    background: $white;
  }

  &__name {
    font-size: 24px;
    color: $dark-grey;
    font-weight: 600;
  }

  &__desc {
    margin-bottom: 50px;
  }

  &__link {
    padding: 13px 31px;
    color: $blue;
    border: 1px solid $blue;
    display: inline-block;
    text-transform: capitalize;
    @include transition-ease($base-transition);

    &:hover {
      background: $blue;
      color: $white;
    }
  }
}

.pricing {
  background-image: url(../images/pricing-bg.png);
  background-size: cover;
  position: relative;
  height: 1145px;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: rgba(10, 10, 10, 0.5);
  }

  .container {
    position: relative;
    z-index: 9;
  }

  &__header {

    .section__title {
      color: $white;
    }

    .section__desc {
      color: $white;
    }
  }

  &__body {
    width: 740px;
    color: $white;
    position: absolute;
    right: 0;
  }

  &__info {
    padding: 60px;
    text-align: center;

    h3 {
      font-size: 24px;
      font-weight: 600;
    }

    p {
      font-size: 35px;
      display: block;
      margin-bottom: 55px;
    }

    span {
      font-size: 15px;
    }

    a {
      display: inline-block;
      padding: 15px 24px;
      border: 1px solid $white;
      color: $white;
      font-weight: 600;
      @include transition-ease($base-transition);

      &:hover {
        background: $white;
        color: $blue;
      }
    }
  }

  .yoga {
    background: $blue;
    display: flex;
    justify-content: space-between;

    &__list {
      padding: 60px 120px;

      li {
        list-style: square;
        padding-bottom: 10px;
      }
    }
  }

  .cardio {
    width: 370px;
    background: #bbbbbb;
    position: absolute;
    right: 0;

    .pricing__info {
      padding: 60px 90px;
    }
  }
}

.twitter {
  background: #07a9ee;
  color: $white;

  .slider-twitter {
    text-align: center;

    .owl-dots {
      .owl-dot {
        outline: none;

        &.active,
        &:hover {
          span {
            background: $white;
          }
        }

        span {
          background: none;
          border-radius: 0;
        }
      }
    }

    button {
      span {
        width: 8px;
        height: 8px;
        border: 2px solid $white;
        margin: 5px 3px;
      }
    }
  }
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 65px;
  }

  .item {
    font-size: 30px;

    p {
      padding-top: 65px;
      margin-bottom: 0;
    }
  }
}

footer {
  height: 600px;
  background: url(../images/header-bg.png) no-repeat;
  background-size: cover;
  position: relative;
  padding: 140px 0 80px 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(45, 42, 80, 0.9);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
  }
}

.ft {
  z-index: 1;
  position: relative;

  &__item {
    padding: 0;
  }

  &__title {
    font-size: 30px;
    color: $white;
    font-weight: 600;
  }

  &__desc {
    padding-bottom: 50px;
  }

  &__link {
    padding: 13px 31px;
    background: $blue;
    color: $white;
    border: 1px solid $blue;
    display: inline-block;
    text-transform: capitalize;
    @include transition-ease($base-transition);

    &:hover {
      background: #38bdff;
      color: $white;
    }
  }

  .hours {
    position: relative;

    .ft__title {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #4caf50;
        top: 50%;
        margin-top: -6px;
        margin-left: 25px;
        box-shadow: 0px 0px 10px #8df591;
        animation: online 1.5s infinite;
      }

      @keyframes online {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }

    .row {
      width: 370px;
      padding-top: 40px;

      li {
        padding: 0;
      }
    }

    span {
      display: block;

      &:last-child {
        font-size: 20px;
        font-weight: 600;
        color: $white;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;

    p {
      a {
        color: #07a9ee;
      }
    }

    .social {
      a {
        color: $white;
        padding: 0 15px;
      }
    }
  }
}


.popup-overlay {
  height: 100%;
  width: 100%;
  background: rgba(#000000, 0.9);
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  display: none;

  &.show {
    display: block;
  }
}

.popup {
  width: 800px;
  background: $blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}